<div class="container">
    <h1 style="text-align: center">Login Page</h1>
    <br>
    <h4>User_Email</h4>
    <mat-form-field class="example-full-width">
      <input matInput type="email" [(ngModel)]="user_id" >
    </mat-form-field>
    <h4>Password</h4>
    <div class="example-container">
        <mat-form-field>
          <input matInput  [(ngModel)]="user_password" [type]="hide ? 'text' : 'password'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
    <!-- <mat-form-field class="example-full-width">
      <input matInput type="password" [(ngModel)]="user_password" >
    </mat-form-field> -->
    <br>
    <a routerLink="/signup" style="text-align:center"><h5>New User?</h5></a>

    <br>
    <br>
    <div class="button-row" style="margin-left:540px;size:150px">
        <button type="button" class="btn btn-default" aria-label="Left Align" (click)="onLogin()">Login</button>

    </div>

  </div>
